main 
    section#works 
        .container-main
            .row-caption.row-caption_m-top-header
                p How Dreamshare works?
        .container-main
            .row-slide
                .card-slide
                    .carousel.slide(data-ride="carousel")
                        .carousel-inner
                            .carousel-item.active
                                img.d-block.w-100.img-attr(src="images/Step1_png1.png" alt="")
                            .carousel-item
                                img.d-block.w-100.img-attr(src="images/Step1_png2.png" alt="")
                            .carousel-item
                                img.d-block.w-100.img-attr(src="images/Step1_png3.png" alt="")
                            .carousel-item
                                img.d-block.w-100.img-attr(src="images/Step1_png4.png" alt="")
                            .carousel-item
                                img.d-block.w-100.img-attr(src="images/Step1_png5.png" alt="")

                    .card-info-step
                        button.btn.card-info-step__btn step1
                        p.card-info-step__big-text Sed leo enim, condimentum
                        p.card-info-step__sm-text Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
                .card-slide
                    .carousel.slide(data-ride="carousel")
                        .carousel-inner
                            .carousel-item.active
                                img.d-block.w-100.img-attr(src="images/Step1_png2.png" alt="")
                            .carousel-item
                                img.d-block.w-100.img-attr(src="images/Step1_png3.png" alt="")
                            .carousel-item
                                img.d-block.w-100.img-attr(src="images/Step1_png4.png" alt="")
                            .carousel-item
                                img.d-block.w-100.img-attr(src="images/Step1_png5.png" alt="")
                            .carousel-item
                                img.d-block.w-100.img-attr(src="images/Step1_png1.png" alt="")

                    .card-info-step
                        button.btn.card-info-step__btn step2
                        p.card-info-step__big-text Morbi velit risus
                        p.card-info-step__sm-text Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est
                .card-slide
                    .carousel.slide(data-ride="carousel")
                        .carousel-inner
                            .carousel-item.active
                                img.d-block.w-100.img-attr(src="images/Step1_png3.png" alt="")
                            .carousel-item
                                img.d-block.w-100.img-attr(src="images/Step1_png4.png" alt="")
                            .carousel-item
                                img.d-block.w-100.img-attr(src="images/Step1_png5.png" alt="")
                            .carousel-item
                                img.d-block.w-100.img-attr(src="images/Step1_png1.png" alt="")
                            .carousel-item
                                img.d-block.w-100.img-attr(src="images/Step1_png2.png" alt="")

                    .card-info-step
                        button.btn.card-info-step__btn step3
                        p.card-info-step__big-text Sed leo enim, condimentum
                        p.card-info-step__sm-text Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
    section#partner
        .container-main
            .row-caption.row-caption_m-top-header
                p Meet a partner for your best holiday
        .container-main
            .row-slide.slide-text-center
                .card-partner
                    .avatar
                        img.img(src="images/Partner_1.png" alt="")
                        .badge.badge_red
                            p.circle-partner
                                i.fa.fa-music(aria-hidden="true")
                    p.name Bradley Hunter
                    p.country Based in Chicago. I love playing tennis and loud music
                .card-partner
                    .avatar
                        img.img(src="images/Partner_2.png" alt="")
                        .badge.badge_green
                            p.circle-partner
                                i.fa.fa-paint-brush(aria-hidden="true")
                    p.name Marie Bennett
                    p.country Currently living in Colorado. Lover of art, languages and travelling.
                .card-partner
                    .avatar
                        img.img(src="images/Partner_3.png" alt="")
                        .badge.badge_yellow
                            p.circle-partner
                                i.fa.fa-camera(aria-hidden="true")
                    p.name Diana Wells
                    p.country Living in Athens, Greece. I love black and white classics, chillout music
                .card-partner
                    .avatar
                        img.img(src="images/Partner_4.png" alt="")
                        .badge.badge_blue
                            p.circle-partner
                                i.fa.fa-plane(aria-hidden="true")
                    p.name Christopher Pierce
                    p.country Star Wars fanatic. I have a persistent enthusiasm to create new things.
            .row-caption.row-caption_m-top-button
                button.btn.card-partner__btn See other partners
    section#ideas
        .container-main
            .row-caption.row-caption_m-top-header
                p Discover holiday activity ideas
        .container-main
            .block-img
                .row-img
                    .row-img__col30
                        img.row-img__img(src="images/Sport.png" alt="")
                        .row-img__text
                            p Sports and Activis 
                    .row-img__col30
                        img.row-img__img(src="images/Helath.png" alt="")
                        .row-img__text
                            p Wellness and Health 
                    .row-img__col30
                        img.row-img__img(src="images/ExtremSport.png" alt="")
                        .row-img__text
                            p Extreme Sports and Expeditions 
                .row-img
                    .row-img__col30
                        img.row-img__img(src="images/Games.png" alt="")
                        .row-img__text
                            p Games 
                    .row-img__col70
                        .carousel.slide(data-ride="carousel")
                            .carousel-inner
                                .carousel-item.active
                                    img.d-block.w-100.row-img__img(src="images/Culture1.png" alt="")
                                .carousel-item
                                    img.d-block.w-100.row-img__img(src="images/Culture2.png" alt="")
                                .carousel-item
                                    img.d-block.w-100.row-img__img(src="images/Culture3.png" alt="")
                        .row-img__text
                            p Culture and Education 

                .row-img
                    .row-img__col70
                        img.row-img__img(src="images/Relax.png" alt="")
                        .row-img__text
                            p Enjomet and Relaxation 
                    .row-img__col30
                        img.row-img__img(src="images/Trevel.png" alt="")
                        .row-img__text
                            p Trevelling 

    section#search
        .container-main
            .row-caption.row-caption_m-top-header
                p Crate your holiday activity
            .block-search
                .row-search.jst-center.font-search.m-t-43
                    p.mx-my-0.ta-center Crate your holiday activity
                .row-search.mx-my-0.m-t-25.jst-berween
                    input.row-search__inp-interest(type="text" placeholder="Enter youre interests")
                    button.btn.row-search__btn See other partners

