footer.footer
    .container-main
        .block-footer
            .row-footer
                .col-footer
                    .row-footer.m-t-38
                        p.mx-my-0.col-footer_col1-header dreamshare
                .col-footer
                    .row-footer.m-t-38
                        p.mx-my-0.col-footer_col2-3-header Company
                    .row-footer
                        ul.list
                            li.list-menu-item
                                span.list-menu-item
                                a.list-menu-item(href="#") About
                            li.list-menu-item
                                span.list-menu-item
                                a.list-menu-item(href="#") Contact
                            li.list-menu-item
                                span.list-menu-item
                                a.list-menu-item(href="#") Press
                            li.list-menu-item
                                span.list-menu-item
                                a.list-menu-item(href="#") Blog
                            li.list-menu-item
                                span.list-menu-item
                                a.list-menu-item(href="#") Terms and Privacy
                            li.list-menu-item
                                span.list-menu-item
                                a.list-menu-item(href="#") Help
                .col-footer
                    .row-footer.m-t-38
                        p.mx-my-0.col-footer_col2-3-header Partners
                .col-footer
                    .row-footer.m-t-38
                        p.mx-my-0.col-footer_col4-header designed by
                    .row-footer.jst-end
                        img.col-footer_col4-img(src="images/Logo.png" alt="")
